<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Footer fijo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div id="footer" th:fragment="footer">
    <footer class="fixed-bottom bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Ayala, Fernando Nicolas<br>LU: 4230</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Cazon, Nataniel Patricio Jesus<br>LU: 4039</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Rocha, Cristian Alberto<br>LU: 4847</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Saravia, Jorge Ariel<br>LU: 3821</p>
          </div>
        </div>
        <p class="m-0" style="text-align: center;">Derechos reservados</p>
      </div>
    </footer>
  </div>
</body>
</html>