 <!DOCTYPE html>
<html>

<body>
	<div id="header2" th:fragment="header2">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand fas fa-mountain" href="https://es.wikipedia.org/wiki/Provincia_de_Jujuy">JUJUY</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/login"><span class="fas fa-user"></span>Iniciar Sesion</a>
					</li>
					

				</ul>
			</div>
		</nav>
	</div>
</body>

</html>