.acor{
	background: #758A9B;
}
.accordion{	
text-align: left;
}
.titulos{
	text-align: center;
	font-family: "Copperplate";
	color :#E1E3E9;
}
.bodycar{
	background: #50809D;
color :#E1E3E9;
text-align: center;
}
