<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/nicoleestilos.css}" />
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>

<body class="body-fondo">
<div th:insert="layouts/header :: header" ></div>
	<article class="col-md-8 col-sm-12">
            <h3 class="font-weight-bold text-white font-italic">Turismo Jujeño</h3>
            <section class="s">
                <ul>
                    <li><img src="img/5cb0bcb430e6a_1004x565.jpg" alt=""></li>
                    <li><img src="img/Dónde-alojarse-en-Jujuy.jpg" alt=""></li>
                    <li><img src="img/jujuy-turismo-interna-1.jpg" alt=""></li>
                    <li><img src="img/index.jpg" alt=""></li>
                </ul>
            </section>

        </article>
      
          <aside class="col-md-4 col-sm-12">
     		<p><img src="img/RELIEVE-DE-JUJUY.jpg" alt=""></p>
        </aside>
          <article class="pe">
        <p>Jujuy, oficialmente Provincia de Jujuy, es una de las 23 provincias que hay en la República Argentina. A su vez, es uno de los 24 estados autogobernados o jurisdicciones de primer orden que conforman el país y uno de los 24 distritos electorales legislativos nacionales. Su capital es San Salvador de Jujuy. Está ubicada en el extremo noroeste del país, en la región del Norte Grande Argentino, limitando al oeste con la República de Chile hasta el trifinio cerro Zapaleri, donde comienza su frontera con el Estado Plurinacional de Bolivia (hacia el norte), y al este y sur con Salta. Con 53.219 km² es la cuarta jurisdicción de primer orden menos extensa, por delante de Misiones, Tucumán y la Ciudad Autónoma de Buenos Aires (CABA).
       </p>
        </article>



		

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>